{% extends 'base.html.twig' %}

{% block title %}Tache formulaire{% endblock %}

{% block body %}
{% if ismodification %}
    <div>
        <h4>Vous êtes dans le formulaire pour modifier la tache</h4>
    </div>
{% else %}
    <h4>Vous êtes dans le formulaire pour ajouter une tache</h4>
{% endif %}

{{form_start(form)}}
    <div class="row">
        <div class="col-6">
            <div>
                {{ form_row(form.titre, {"attr" : {'class':'text-danger'},"label":"Titre"})}}
                {{ form_row(form.description, {"attr" : {'class':'text-danger'},"label":"Description"})}}
            </div>
        </div>
        <div class="col-6">
            {{ form_row(form.statut, {"attr" : {'class':'text-danger'},"label":"Statut"})}}
            {{ form_row(form.date_creation, {"attr" : {'class':'text-danger'},"label":"Date de création"})}}
            {{ form_row(form.mise_a_jour, {"attr" : {'class':'text-danger'},"label":"Mise à jour"})}}
        </div>
    </div>
        
    <input type="submit" class="btn btn-primary">
{{form_end(form)}}

{% endblock %}